<!-- <app-loading-state *ngIf="currentAuthState === LoadingStatus.Loading" [fullPage]="true"> </app-loading-state> -->
<!-- CONTROL GROUP ONLY -->
<div class="login-container">
  <div class="login-header-section">
    <img src="assets/images/full-logo-black.png" class="login-image" />

    <div class="login-text">Sign up to create your first highlight</div>
    <div class="login-text">
      Create an account and transfer all existing data to it
    </div>
  </div>

  <div class="login-body-section">
    <div class="login-input-wrapper">
      <div
        id="g_id_onload"
        data-context="signup"
        data-ux_mode="popup"
        data-callback="googleLoginClick"
        data-itp_support="true"
      ></div>
      <div
        class="g_id_signin btn-goole-login"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signup_with"
        data-size="large"
        data-logo_alignment="center"
        data-width="400"
      ></div>
    </div>

    <div class="login-input-wrapper">
      <div
        class="fb-login-button"
        data-width="400"
        data-size="large"
        data-button-type="continue_with"
        data-use-continue-as="true"
        data-scope="public_profile, email"
        (click)="facebookDialogOpen()"
      ></div>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <ng-container>
        <div class="login-mode-break-wrapper">
          <div class="login-mode-break-line">
            <img src="assets/images/svg/line-break.svg" />
          </div>
          <div class="login-mode-break">OR</div>
          <div class="login-mode-break-line">
            <img src="assets/images/svg/line-break.svg" />
          </div>
        </div>

        <!-- Fields are displayed only when showSignupForm is true -->
        <div *ngIf="showSignupForm">
          <div class="login-input-wrapper">
            <input
              class="login-text-input"
              formControlName="firstName"
              placeholder="First Name"
              type="text"
              name="firstName"
            />
          </div>
          <div class="login-input-wrapper">
            <input
              class="login-text-input"
              formControlName="lastName"
              placeholder="Last Name"
              type="text"
              name="lastName"
            />
          </div>
          <div class="login-input-wrapper">
            <input
              class="login-text-input"
              formControlName="emailInput"
              placeholder="Email"
              type="email"
              name="email"
            />
          </div>
          <div class="login-input-wrapper">
            <input
              class="login-text-input"
              formControlName="password"
              placeholder="Password"
              name="password"
            />
          </div>
          <div class="login-input-wrapper">
            <button type="submit" class="btn login-button mb-2">Sign up</button>
          </div>
        </div>

        <div class="login-input-wrapper switch-login-wrapper">
          <div class="login-hints">
            Don't have Google or Facebook?
            <a (click)="showSignupFormClick()"> Sign Up with Email </a>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <div class="login-terms-description">
    By signing up, you agree to our
    <a (click)="goToTerms()" target="_blank">Terms and Privacy</a>
  </div>
</div>
