<div class="on-board-container">
  <h1>Download Weava to get started!</h1>
  <ol>
    <li><a href="www.google.com" class="button">Download Weava</a></li>
    <li>Highlight something here.</li>
    <li>Take a note by clicking on the highlight.</li>
    <li>Turn on/off the highlighter by pressing <code>ALT + S</code>.</li>
    <li>
      Visit and organize your highlights using the <a href="#">dashboard</a>.
    </li>
  </ol>
  <p>Start highlighting on any other website or PDF!</p>
  <div class="social">
    <button>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Facebook_icon.svg/1200px-Facebook_icon.svg.png"
        alt="Facebook"
        width="16"
      />
      Like 22K
    </button>
    <button>Follow &#64;weavatools</button>
  </div>
  <div class="footer">With love, <span>Weava Team</span></div>
</div>
