<!-- <div class="menu-panel">
  <section class="menu-header">
    <div class="gistnote-header-wrapper">
      <div class="gistnote-header-logo-wrapper table-cell">
        <img class="gistnote-header-logo" src="assets/images/svg/w-logo.svg" />
      </div>

      <div class="table-cell">Weava</div>
    </div>
  </section>
</div> -->


<div class="menu-panel">
  <!-- Toast Message -->
  <div class="weava-notification-frame bg-success">
    <div class="text-light">
      This is a toast message.
    </div>
  </div>

  <!-- Menu Header -->
  <section class="menu-header">
    <div class="gistnote-header-wrapper">
      <div class="gistnote-header-logo-wrapper table-cell">
        <img class="gistnote-header-logo" src="assets/images/svg/w-logo.svg" alt="Weava Logo" />
      </div>
      <div class="table-cell">Weava</div>
    </div>
  </section>

  <!-- Dim Background -->
  <div class="menu-panel-dim-background active"></div>

  <!-- Folder Menu -->
  <div class="menu-body">
    <div class="folder-list">
      <!-- Example folder list item -->
      <div class="folder-item">
        <span>Folder 1</span>
      </div>
      <div class="folder-item">
        <span>Folder 2</span>
      </div>
    </div>
    <div class="create-folder-field">
      <input type="text" placeholder="Create a new folder" />
      <button>Create</button>
    </div>
  </div>

  <!-- Footer -->
  <div class="menu-footer">
    <!-- Account Panel -->
    <div class="account-panel">
      <p>Account Panel</p>
    </div>

    <!-- Dashboard Menu Footer -->
    <div class="dashboard-menu-footer">
      <p>Dashboard Footer</p>
    </div>
  </div>
</div>
