<div _ngcontent-bbf-c107="" class="parent-component-wrapper">
  <div _ngcontent-bbf-c107="" class="content-wrapper">
    <div _ngcontent-bbf-c107="" class="title-wrapper">
      <img
        _ngcontent-bbf-c107=""
        src="assets/images/full-logo-black.png"
        class="login-image"
      />
      <div _ngcontent-bbf-c107="" class="login-text">Reset your password</div>
    </div>
    <form
      _ngcontent-bbf-c107=""
      novalidate=""
      class="update-form ng-untouched ng-pristine ng-invalid"
    >
      <div _ngcontent-bbf-c107="" class="input-wrapper">
        <input
          _ngcontent-bbf-c107=""
          type="email"
          placeholder="Email"
          formcontrolname="emailInput"
          name="email"
          class="text-input ng-untouched ng-pristine ng-invalid"
        /><!---->
      </div>
      <div _ngcontent-bbf-c107="" class="input-wrapper">
        <!----><!----><button
          _ngcontent-bbf-c107=""
          type="submit"
          class="btn submit-button"
          disabled=""
        >
          Reset Password
        </button>
      </div>
      <div _ngcontent-bbf-c107="" class="input-wrapper">
        <button
          _ngcontent-bbf-c107=""
          type="button"
          class="btn btn-danger cancel-btn"
        >
          Cancel
        </button>
      </div>
    </form>
    <!----><!---->
  </div>
</div>
