<div class="dashboard-overall-container no-select" id="desktop">
  <app-sidebar *ngIf="showLayout"></app-sidebar>

  <div class="main-panel-larger-outer-container">
    <app-header *ngIf="showLayout"></app-header>

    <div class="main-dashboard-content">
      <div class="app-main-panel-outer-container full-screen">
        <router-outlet></router-outlet>
      </div>

      <div class="app-main-panel-view-container hide">
        <!-- app-editor-panel -->
        <div hidden="">
          <div class="editor-header">
            <div class="editor-panel-left-icon-buttons-wrapper">
              <div class="editor-essay-title-wrapper">
                <input
                  id="editor-essay-title"
                  type="text"
                  placeholder="Untitled document"
                />
              </div>
            </div>
            <span class="saving-indicator">All saved.</span>
            <div class="editor-panel-right-icon-buttons-wrapper">
              <div class="editor-panel-icon-button-wrapper">
                <div class="table-cell btn-cell">
                  <button
                    class="btn btn-primary text-button secondary-text-button editor-save-button"
                  >
                    Save
                  </button>
                </div>
                <div class="table-cell btn-cell">
                  <button class="text-button secondary-text-button">
                    Export to Word
                  </button>
                </div>
                <div class="table-cell btn-cell">
                  <button
                    placement="bottom"
                    class="text-button secondary-text-button"
                  >
                    New Document
                  </button>
                </div>

                <div class="editor-panel-icon-button btn-cell">
                  <button class="btn-small btn-default">
                    <img
                      src="assets/images/svg/cross-icon.svg"
                      class="cross-icon close-icon"
                    />
                  </button>
                </div>
                <div id="export-container" class="hide"></div>
              </div>
            </div>
          </div>
          <div class="app-editor-inner-container">
            <div>
              <div id="editor-panel" class="editor-writing-container">
                <div
                  id="mceu_18"
                  class="mce-tinymce mce-container mce-panel"
                  hidefocus="1"
                  tabindex="-1"
                  role="application"
                  style="visibility: hidden; border-width: 1px"
                >
                  <div
                    id="mceu_18-body"
                    class="mce-container-body mce-stack-layout"
                  >
                    <div
                      id="mceu_19"
                      class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first"
                      hidefocus="1"
                      tabindex="-1"
                      role="group"
                    >
                      <div
                        id="mceu_19-body"
                        class="mce-container-body mce-stack-layout"
                      >
                        <div
                          id="mceu_20"
                          class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last"
                          role="toolbar"
                        >
                          <div
                            id="mceu_20-body"
                            class="mce-container-body mce-flow-layout"
                          >
                            <div
                              id="mceu_21"
                              class="mce-container mce-flow-layout-item mce-first mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_21-body">
                                <div
                                  id="mceu_0"
                                  class="mce-widget mce-btn mce-first mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_0"
                                  role="button"
                                  aria-label="Print"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-print"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_1"
                                  class="mce-widget mce-btn mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_1"
                                  role="button"
                                  aria-label="Undo"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-undo"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_2"
                                  class="mce-widget mce-btn mce-last mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_2"
                                  role="button"
                                  aria-label="Redo"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-redo"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_22"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_22-body">
                                <div
                                  id="mceu_3"
                                  class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first mce-last mce-btn-has-text mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_3"
                                  role="button"
                                  aria-haspopup="true"
                                  aria-disabled="true"
                                >
                                  <button
                                    id="mceu_3-open"
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <span class="mce-txt">Paragraph</span>
                                    <i class="mce-caret"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_23"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_23-body">
                                <div
                                  id="mceu_4"
                                  class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first mce-last mce-btn-has-text mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_4"
                                  role="button"
                                  aria-label="Font Family"
                                  aria-haspopup="true"
                                  aria-disabled="true"
                                >
                                  <button
                                    id="mceu_4-open"
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <span class="mce-txt">Font Family</span>
                                    <i class="mce-caret"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_24"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_24-body">
                                <div
                                  id="mceu_5"
                                  class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first mce-last mce-btn-has-text mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_5"
                                  role="button"
                                  aria-label="Font Sizes"
                                  aria-haspopup="true"
                                  aria-disabled="true"
                                >
                                  <button
                                    id="mceu_5-open"
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <span class="mce-txt">Font Sizes</span>
                                    <i class="mce-caret"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_25"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_25-body">
                                <div
                                  id="mceu_6"
                                  class="mce-widget mce-btn mce-first mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_6"
                                  role="button"
                                  aria-label="Bold"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-bold"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_7"
                                  class="mce-widget mce-btn mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_7"
                                  role="button"
                                  aria-label="Italic"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-italic"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_8"
                                  class="mce-widget mce-btn mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_8"
                                  role="button"
                                  aria-label="Underline"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-underline"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_9"
                                  class="mce-widget mce-btn mce-colorbutton mce-last mce-disabled"
                                  role="button"
                                  tabindex="-1"
                                  aria-haspopup="true"
                                  aria-label="Text color"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    hidefocus="1"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-forecolor"></i
                                    ><span
                                      id="mceu_9-preview"
                                      class="mce-preview"
                                    ></span></button
                                  ><button
                                    type="button"
                                    class="mce-open"
                                    hidefocus="1"
                                    tabindex="-1"
                                  >
                                    <i class="mce-caret"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_26"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_26-body">
                                <div
                                  id="mceu_10"
                                  class="mce-widget mce-btn mce-first mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_10"
                                  role="button"
                                  aria-label="Insert/edit link"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-link"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_11"
                                  class="mce-widget mce-btn mce-last mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_11"
                                  role="button"
                                  aria-label="Insert/edit image"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-image"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_27"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_27-body">
                                <div
                                  id="mceu_12"
                                  class="mce-widget mce-btn mce-splitbtn mce-menubtn mce-first mce-disabled"
                                  role="button"
                                  tabindex="-1"
                                  aria-label="Bullet list"
                                  aria-haspopup="true"
                                  aria-disabled="true"
                                >
                                  <button
                                    type="button"
                                    hidefocus="1"
                                    tabindex="-1"
                                  >
                                    <i
                                      class="mce-ico mce-i-bullist"
                                    ></i></button
                                  ><button
                                    type="button"
                                    class="mce-open"
                                    hidefocus="1"
                                    tabindex="-1"
                                  >
                                    <i class="mce-caret"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_13"
                                  class="mce-widget mce-btn mce-splitbtn mce-menubtn mce-last mce-disabled"
                                  role="button"
                                  tabindex="-1"
                                  aria-label="Numbered list"
                                  aria-haspopup="true"
                                  aria-disabled="true"
                                >
                                  <button
                                    type="button"
                                    hidefocus="1"
                                    tabindex="-1"
                                  >
                                    <i
                                      class="mce-ico mce-i-numlist"
                                    ></i></button
                                  ><button
                                    type="button"
                                    class="mce-open"
                                    hidefocus="1"
                                    tabindex="-1"
                                  >
                                    <i class="mce-caret"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_28"
                              class="mce-container mce-flow-layout-item mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_28-body">
                                <div
                                  id="mceu_14"
                                  class="mce-widget mce-btn mce-first mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_14"
                                  role="button"
                                  aria-label="Align left"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-alignleft"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_15"
                                  class="mce-widget mce-btn mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_15"
                                  role="button"
                                  aria-label="Align center"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-aligncenter"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_16"
                                  class="mce-widget mce-btn mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_16"
                                  role="button"
                                  aria-label="Align right"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-alignright"></i>
                                  </button>
                                </div>
                                <div
                                  id="mceu_17"
                                  class="mce-widget mce-btn mce-last mce-disabled"
                                  tabindex="-1"
                                  aria-labelledby="mceu_17"
                                  role="button"
                                  aria-label="Justify"
                                  aria-disabled="true"
                                >
                                  <button
                                    role="presentation"
                                    type="button"
                                    tabindex="-1"
                                  >
                                    <i class="mce-ico mce-i-alignjustify"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              id="mceu_29"
                              class="mce-container mce-flow-layout-item mce-last mce-btn-group"
                              role="group"
                            >
                              <div id="mceu_29-body"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="mceu_30"
                      class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last"
                      hidefocus="1"
                      tabindex="-1"
                      role="group"
                      style="border-width: 1px 0px 0px"
                    >
                      <iframe
                        id="editor_ifr"
                        frameborder="0"
                        allowtransparency="true"
                        title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help"
                        src='javascript:""'
                        style="width: 100%; height: 100px; display: block"
                      ></iframe>
                    </div>
                  </div>
                </div>
                <div
                  id="editor"
                  contenteditable="true"
                  class="editor"
                  aria-hidden="true"
                  style="display: none"
                ></div>
                <!-- app-editor-highlight-indicator -->
                <div _nghost-gqr-c55="">
                  <div id="editor-highlight-indicator-container"></div>
                </div>
                <!-- app-editor-highlight-indicator end -->
                <!-- app-editor-highlight-popover -->
                <div class="hide" _nghost-gqr-c54="">
                  <div class="highlight-action-tooltip">
                    <div class="highlight-action-tooltip-buttons-wrapper">
                      <div class="highlight-action-tooltip-button">
                        Go to link
                      </div>
                      <div class="highlight-action-tooltip-button">Cite</div>
                    </div>
                    <div class="highlight-action-tooltip-pointer"></div>
                  </div>
                </div>
                <!-- app-editor-highlight-popover end -->
                <div class="hide" _nghost-gqr-c53="">
                  <div _ngcontent-gqr-c53="" id="editor-search-wrapper">
                    <input
                      _ngcontent-gqr-c53=""
                      id="editor-search-input"
                      placeholder="Type to search..."
                      type="text"
                      class="ng-untouched ng-pristine ng-valid"
                    />
                    <ul
                      _ngcontent-gqr-c53=""
                      id="editor-search-dropdown-wrapper"
                    ></ul>
                  </div>
                </div>
                <!-- app-editor-search end -->
              </div>
            </div>
          </div>
        </div>
        <!-- app-editor-panel end -->
        <!-- app-viewer-panel -->
        <div hidden="">
          <div id="iframe-container">
            <div class="web-viewer-wrapper">
              <iframe
                id="website-viewer-frame"
                loading="lazy"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-modals allow-top-navigation-by-user-activation allow-top-navigation allow-downloads"
                style="border: none; width: inherit; height: 96%"
                hidden=""
              ></iframe>
              <div style="width: inherit; height: inherit">
                <div class="header-section-wrapper">
                  <div>
                    <div class="content-wrapper">
                      <div class="extension-error">
                        <div class="extension-error-title">
                          <img
                            src="assets/images/company-logo.png"
                            style="width: 100px; height: 100px"
                          />
                          <div class="tagline">
                            <div class="tagline">
                              Install our Extension to Continue
                            </div>
                          </div>
                        </div>
                        <div class="extension-error-description">
                          <div class="tagline-description">
                            Preview and Annotate directly on Web App
                          </div>
                          <a
                            target="_blank"
                            class="download-button"
                            href="https://chromewebstore.google.com/detail/weava-highlighter-pdf-web/cbnaodkpfinfiipjblikofhlhlcickei"
                            >Get Chrome Extension</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- app-viewer-panel end -->
      </div>
    </div>
  </div>
</div>
