<div _nghost-gqr-c63="">
  <div class="dashboard-nav-header">
    <div class="nav-menu-group">
      <div class="nav-left-group">
        <button class="nav-menu-wrapper menu-button">
          <img
            src="assets/images/svg/hamburger-menu-icon.svg"
            class="menu-icon"
          />
        </button>
        <div class="nav-collection-title-wrapper">
          <div class="nav-menu-wrapper table-cell">
            <div class="table-cell">
              <div class="table-cell menu-button collection-title">
                Folder name
              </div>
            </div>
          </div>
          <div class="collection-title-section fade-in">
            <div class="search-container">
              <div class="search-wrapper">
                <img
                  src="assets/images/svg/search-icon.svg"
                  style="
                    opacity: 0.4;
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    top: 7px;
                    left: 7px;
                  "
                />
                <form
                  novalidate=""
                  class="search-form ng-pristine ng-valid ng-untouched"
                >
                  <input
                    type="text"
                    autocomplete="off"
                    name="search"
                    class="search-input ng-untouched ng-pristine ng-valid"
                    placeholder="Search highlights in Folder name..."
                  />
                </form>
                <div class="clear-search-button">
                  <div class="table-cell">
                    <div
                      ngbtooltip="Filter"
                      container="body"
                      class="table-cell color-filter-button"
                    >
                      <img
                        src="assets/images/svg/filter-icon.svg"
                        style="width: 16px; height: 16px"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-right-group">
        <div class="premium-button-wrapper text-button">Premium Account</div>

        <div class="notification-button-wrapper">
          <div
            class="table-cell icon-circle-button-wrapper notification-button active"
          >
            <img
              src="assets/images/svg/notification-white-icon.svg"
              class="icon"
            />
            <div class="icon-button-badge">1</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
