<div class="main-panel-footer">
  <ul class="segmented-control main-panel-footer-segmented-control">
    <li class="segmented-control__item">
      <input
        type="radio"
        id="option-1"
        class="segmented-control__input"
      /><label for="option-1" class="segmented-control__label active">
        Highlights
      </label>
    </li>
    <li class="segmented-control__item">
      <input
        type="radio"
        name="option"
        id="option-2"
        class="segmented-control__input"
      /><label for="option-2" class="segmented-control__label">
        Documents
      </label>
    </li>
  </ul>
</div>
