<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h2 class="text-white font-18">
        <img src="assets/images/svg/w-logo.svg" width="26" />
        <span class="px-2">Weava</span>
      </h2>
    </div>

    <ul class="list-unstyled components">
      <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">grc</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">grc 1</a>
                    </li>
                    <li>
                        <a href="#">grc 2</a>
                    </li>
                    <li>
                        <a href="#">grc 3</a>
                    </li>
                </ul>
            </li> -->
      <li>
        <a href="#">
          <svg
            role="img"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="folder"
            class="svg-inline--fa fa-folder folder-folder"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M459,51 L255,51 L204,0 L51,0 C22.95,0 0,22.95 0,51 L0,357 C0,385.05 22.95,408 51,408 L459,408 C487.05,408 510,385.05 510,357 L510,102 C510,73.95 487.05,51 459,51 Z M331.5,127.5 C359.55,127.5 382.5,150.45 382.5,178.5 C382.5,206.55 359.55,229.5 331.5,229.5 C303.45,229.5 280.5,206.55 280.5,178.5 C280.5,150.45 303.45,127.5 331.5,127.5 Z M433.5,331.5 L229.5,331.5 L229.5,306 C229.5,272.85 298.35,255 331.5,255 C364.65,255 433.5,272.85 433.5,306 L433.5,331.5 Z"
            ></path>
          </svg>
          Sample Folder
        </a>
      </li>
      <li>
        <a href="#">
          <svg
            role="img"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="folder"
            class="svg-inline--fa fa-folder folder-folder"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M459,51 L255,51 L204,0 L51,0 C22.95,0 0,22.95 0,51 L0,357 C0,385.05 22.95,408 51,408 L459,408 C487.05,408 510,385.05 510,357 L510,102 C510,73.95 487.05,51 459,51 Z M331.5,127.5 C359.55,127.5 382.5,150.45 382.5,178.5 C382.5,206.55 359.55,229.5 331.5,229.5 C303.45,229.5 280.5,206.55 280.5,178.5 C280.5,150.45 303.45,127.5 331.5,127.5 Z M433.5,331.5 L229.5,331.5 L229.5,306 C229.5,272.85 298.35,255 331.5,255 C364.65,255 433.5,272.85 433.5,306 L433.5,331.5 Z"
            ></path>
          </svg>
          Sample Folder
        </a>
      </li>
      <li>
        <a href="#">
          <svg
            role="img"
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="folder"
            class="svg-inline--fa fa-folder folder-folder"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M459,51 L255,51 L204,0 L51,0 C22.95,0 0,22.95 0,51 L0,357 C0,385.05 22.95,408 51,408 L459,408 C487.05,408 510,385.05 510,357 L510,102 C510,73.95 487.05,51 459,51 Z M331.5,127.5 C359.55,127.5 382.5,150.45 382.5,178.5 C382.5,206.55 359.55,229.5 331.5,229.5 C303.45,229.5 280.5,206.55 280.5,178.5 C280.5,150.45 303.45,127.5 331.5,127.5 Z M433.5,331.5 L229.5,331.5 L229.5,306 C229.5,272.85 298.35,255 331.5,255 C364.65,255 433.5,272.85 433.5,306 L433.5,331.5 Z"
            ></path>
          </svg>
          Sample Folder
        </a>
      </li>
    </ul>

    <div class="popup-container">
      <ul class="list-unstyled CTAs">
        <li>
          <!-- Using <span> for the Account Settings button -->
          <span class="download" (click)="togglePopup($event)">
            Account Settings <i class="fas fa-cogs ml-2"></i>
          </span>
        </li>
      </ul>

      <!-- Popup Section controlled by *ngIf -->
      <div id="popup" class="popup" *ngIf="isPopupVisible">
        <div class="popup-top">
          <span
            ><b>Hi {{ loginDetails.displayName }}</b></span
          ><br />
          <span>Version 1.56.36</span><br />
          <span class="storage-line">
            <span class="left">Storage</span>
            <span class="right">5.91KB/100MB</span>
          </span>
        </div>
        <div class="popup-line"></div>
        <div class="popup-bottom">
          <span class="popup-bottom-content">Account Details</span><br />
          <span class="popup-bottom-content">Contact Support</span>
          <span class="popup-bottom-content">Request a Feature</span>
          <span class="popup-bottom-content">Terms and Privacy</span>
          <span class="popup-bottom-content">Keyboard Shortcuts</span>
          <span class="popup-bottom-content signout">Signout</span>
        </div>
        <div class="popup-close" (click)="closePopup()">&#10005;</div>
      </div>
    </div>

    <!-- Background overlay for the blur effect -->
    <div *ngIf="isPopupVisible" class="overlay"></div>
  </nav>

  <!-- Main  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          type="button"
          id="sidebarCollapse"
          class="btn text-sidebar bg-turbo-yellow"
        >
          <i id="collapseIcon" class="fas fa-arrow-left"></i>
          <span></span>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">test</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2>Weava folders</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>
</div>
